/* Choix d'un fichier spécifique pour le titre et le logo, car ce composant est utilisé à plusieurs endroits sur le site. */

/*Titre principal & Logo */
.titre-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--rythme-serre);
}

.titre-logo img {
  width: 90px;
}

.titre-logo h1 {
  color: var(--couleur-secondaire);
}

.titre-logo__titre-rouge {
  color: var(--couleur-principale);
}

/* Taille d'ecran inferieur a 1170px */
@media screen and (max-width: 1170px) {
  .titre-logo {
    justify-content: center;
  }
}
